<nb-layout>

  <nb-layout-header fixed *ngIf="!afAuth.auth.currentUser">
     Welcome to Bid-Tac-Toe 
  <!-- Insert header here -->
  </nb-layout-header>
  <nb-layout-header fixed *ngIf="afAuth.auth.currentUser">
      Welcome to Bid-Tac-Toe {{ afAuth.auth.currentUser.displayName }}
   <!-- Insert header here -->
   </nb-layout-header>
 

  <nb-layout-column>

    <firebase-ui *ngIf="!afAuth.auth.currentUser"></firebase-ui>
    <app-boad *ngIf="afAuth.auth.currentUser"></app-boad>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>