<nb-layout>

  <nb-layout-header fixed *ngIf="!afAuth.auth.currentUser">
     Welcome to Bid-Tac-Toe 
  <!-- Insert header here -->
  </nb-layout-header>
  <nb-layout-header fixed *ngIf="afAuth.auth.currentUser">
      Welcome to Bid-Tac-Toe {{ afAuth.auth.currentUser.displayName }}
   <!-- Insert header here -->
   </nb-layout-header>
 

  <nb-layout-column>

    <firebase-ui *ngIf="!afAuth.auth.currentUser"></firebase-ui>
    <app-boad *ngIf="afAuth.auth.currentUser"></app-boad>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <nb-alert accent="info">How To Play: Each turn place a bid by typing some number from 0 to how many credits you have. 
      The bot also makes a bid (without knowledge of yours). 
      You pay the bot your bid if you win, else bot will pay you his bid.
      The player who bids more get to make a move.
      You win if either bot looses all it's credits or you complete a sequence before it.
      Developed by <u>Depanker Sharma</u></nb-alert>
  
  </nb-layout-footer>

</nb-layout>